.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: #333;
    color: white;
    font-family: "Lato", sans-serif;
  }
  
  .footer-left {
    flex: 1;
  }
  
  .footer-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .social-media {
    display: flex;
    gap: 15px;
    font-size: 1.5rem;
  }
  
  .social-media a {
    color: white;
    font-size: 30px; /* Ajusta el tamaño según tu preferencia */
    margin: 0 15px;
    transition: color 0.3s;
  }
  
  .social-media a:hover {
    color: #A560E8; /* Cambia al color que prefieras */
  }
  
  
  .footer-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links li a {
    color: #CFCFCF;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .footer-links li a:hover {
    color: #A560E8;
  }
  
  .footer-separator {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ccc;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-copyright {
    font-size: 0.9rem;
  }
  
  .footer-terms {
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
  }
  
  .footer-terms:hover {
    color: #A560E8;
  }
  